target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
/.settings/
/.classpath
/.project
.DS_Store
.idea
*.iml
/.attach_pid16003
/.attach_pid21197
/.attach_pid3212
/.attach_pid6833
/httpClientPipeline
/httpClientPipeline.circo.svg
/httpClientPipeline.svg
