[Unit]
Description=oci-demo
Requires=network-online.target
After=systemd-timesyncd.service rc-local.service 
AllowIsolate=yes

[Service]
ExecStart=/home/root/launch-oci-demo.sh
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target